<!--><p id="notice"><%= notice %></p></!-->   

<h1>Pokemon Toys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemon_toys.each do |pokemon_toy| %>
      <tr>
        <td><%= pokemon_toy.name %></td>
        <td><%= pokemon_toy.content %></td>
        <td><%= link_to 'Show', pokemon_toy %></td>
        <td><%= link_to 'Edit', edit_pokemon_toy_path(pokemon_toy) %></td>
        <td><%= link_to 'Destroy', pokemon_toy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon Toy', new_pokemon_toy_path %>
